.BuildControls{
    width: 100%;
    background-color: orange;
    display: flex;
    flex-flow: column;
    text-align: center;
    box-shadow: 0px 2px 1px #ccc;
    margin: auto;
    padding: 10px 0px;
}

.OrderButton{
    width: auto;
    padding: 10px 20px;
    margin: auto;
}